html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}
@font-face {
  font-family: "Lovelyn";
  src: url("/fonts/Lovelyn.otf") format("opentype"),
    url("/fonts/Lovelyn.ttf") format("truetype");
}

h1 {
    display: none;
}
h2 {
    margin-top: 2em;
}
h1,
h2,
h3 {
  font-family: Lovelyn;
  text-align: center;
}

#about {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    font-size: .6em;
}

@media (min-width: 600px) {
    #about {
        margin-left: 10vw;
        margin-right: 10vw;
        font-size: .9em;
        line-height: 2.5em;
    }
}

#about p {
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

#about a:link {
    color: #ddd;
}

* {
  box-sizing: border-box;
}

.slider {
  width: 90wv;
  text-align: center;
  overflow: hidden;
}

.slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  .slider > a:active {
    top: 1px;
  }
  .slider > a:focus {
    background: #7c7c7c;
  }

.slides {
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 90vw;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.slides > div:target {
  /*   transform: scale(0.8); */
}
.slides > div h3 {
    z-index: 2;
    font-size: .5em;
    padding-top: 30vh;
    text-shadow: 2px 2px #000;
}
img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Don't need button navigation */
@supports (scroll-snap-type) {
  .slider > a {
    display: none;
  }
}

html,
body {
  height: 100%;
  overflow: auto;
}
body {
  font-family: "Ropa Sans", sans-serif;
}
